<html>

<head>
  <meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
</head>

<body>

  <table style="width: 100%">
    <thead>
      <tr>
        <td>
          Here is your reset password code. Please note that the reset code only available in 10 minutes.
        <td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #ede7d5; padding: 16px; color: black; font-size: 28px; font-weight: 600; text-align: center">
          {{ code }}
          </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
  </table>



</body>

</html>